body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif,Helvetica,Arial;
    background: linear-gradient(180deg, #393C5D 0%, rgba(57, 60, 93, 0) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.logo {

    margin-top: 30px;
    text-align: center;
}

.logo img {
    margin-top: 30px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.content {
    display: flex;
    width: 80%;
    margin-top: 30px;
    text-align:center;
    flex-direction: column;

}

.content img {
    max-width: 100%;
    height: auto;
    text-align: center;
}
#parrafo {
    display: flex;
    

}

.content p {
   
    padding: 5px;
    margin-top: 25px;
    font-size: 1.1rem;
    font-weight:700;
    line-height: 1.6;
    color: #232020;
}


.button {
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 4px;
    background-color: #5CCB9A;
    color: #1A1818;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #393C5D;
}